# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

AWS_ACCESS_KEY_ID="AKSDMK7XZY2SRXMYQN"
AWS_SECRET_ACCESS_KEY="jUy6s/78P/6iAcYdxbMBFgYQ5oL"
AWS_REGION="us-east-1"
DATABASE_URL="postgresql://postgres:postgres@localhost:5435/postgres?schema=public"
AWS_REGION="ap-southeast-3"
JWT_SECRET="poufafasfewfefe"
API_KEY="1234567890"
PORT="3000"
AWS_SES_SENDER_EMAIL="pou@pragusga.com"
FE_REQUEST_PAGE_URL="http://localhost:5173/requests"
CORS_ORIGINS='http://localhost:5173' # can be multiple separated by comma ex: http://localhost:3000,http://localhost:3001
NODE_ENV="development" # development, production
